<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="style/style.css") }}">
    <!--
    <style>
        body{
            background-color:orange;
        }
    </style>
    -->
</head>
<body>
    <header>
        <div class="user_auth">
            {% if not session.user_name %}
                <a href="{{ url_for("main.login_display") }}">login</a>
                <a href="{{ url_for("main.sign_display") }}">sign</a>
            {% else %}
                <a href="{{ url_for("main.logout") }}">log out</a>
                <a href="{{ url_for("main.home_page") }}">home page</a>
            {% endif %}
        </div>
        {% if session.user_name %}
        <div class="user">
            <p>Hello {{ session.user_name }}</p>
        </div>
        {% endif %}

    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% if session.message %}
    <div>
        <p>{{ session.message }}</p>
    </div>
    {% endif %}
</body>
</html>

