<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div>
            {% if not user %}
                <a href="{{ url_for("login") }}">login</a>
                <a href="{{ url_for("sign") }}">sign</a>
            {% endif %}
            
            {% if user %}
            <a href="{{ url_for("logout") }}">log out</a>
            {% endif %}
        </div>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% if g.message %}
    <div>
        <p>{{ g.message }}
    </div>
    {% endif %}
</body>
</html>

