:root{
    --main_height: calc(100% - var(--header_height));

    /* */
    --rooms_width: 35vw;

    /* */
    --interface_user_main_width: 50vw;
    --interface_user_main_height: 100%;

    /* */
    --chat_width: 100%;
    --chat_height: 90%;

    --chat_height_reduce: 50%;

    /* */
    --chat_forms_height: 50px;
    --chat_forms_width: 90%;

    /* */
    --chat_input_height: 30%;
    --chat_input_width: 90%;

    /* */
    --chat_message_height: calc(35vh - var(--chat_forms_height) );
    --chat_message_width: 100%;

    /* */
    --server_status_height_neutral: 10%;
    --server_status_height_expand: 50%;
}

body{
    display: flex;
    flex-direction: column;
    
    height: 100vh;
}

main{
    display:flex;
    justify-content: flex-start;

    height: var(--main_height);
}

/* */
#rooms{
    background-color: gray;
    min-width: var(--rooms_width);
    height: 100%;

    overflow-y: scroll;
}

.room_selected{
    background-color: white;
    color: black;
}

.room_unselected{
    background-color: black;
    color: white;
}

/* */
#interface_user_main{
    flex-grow: 1;

    min-width: var(--interface_user_main_width);
    height: auto;
}

/* */
#chat{
    width: var(--chat_width);

    display: flex;
    flex-direction: column;

    align-content: right;
}

.chat_neutral{
    height: var(--chat_height);
}

.chat_reduce{
    height: var(--chat_height_reduce);
}


#chat_forms{
    width: var(--chat_forms_width);
    height: var(--chat_forms_height);
}

#chat_input{
    width: var(--chat_input_width);
    height: var(--chat_input_height);
}

#chat_message{
    overflow-y: scroll;

    background-color: blue;

    height: var(--chat_message_height);
    flex-grow: 1;
    /* 
    width: var(--chat_message_width);
    */

    padding: 10px;
    margin: 15px;
}

/* */
#message_more > h3{
    color: black;
}

/* */
#server_status{
    background-color: green;
}

.server_status_neutral{
    height: var(--server_status_height_neutral);
}

.server_status_expand{
    height: var(--server_status_height_expand);
}


#server_status_pull{
    display: flex;
    justify-content: center;

    background-color: yellow;
    color: black;
}


#server_status_content{
    padding: 10px;
}
