:root{
    --input_width: 250px;

    --forms_back_color: orange;
    --forms_width: auto;

    --label_text_color: black;

    --header_height: 400px;
}

*{
    margin: 0px;
    color: white;
}

p{
    font-family: "Ubuntu", sans-serif;
}
span{
    font-family: "Ubuntu", sans-serif;
}

@media screen and (min-height: 881px) {
    p{
        font-size: 30px;
        color: white;
    }

    span{
        font-size: 25px;
    }

    .talktalk_logo > img{
        height: 300px;
    }

    :root{
        --header_height: 350px;
    }
}

@media screen and (max-height: 880px) {
    p{
        font-size: 20px;
        color: white
    }

    span{
        font-size: 15px;
    }

    .talktalk_logo > img{
        height: 150px;
    }

    :root{
        --header_height: 150px;
    }
}

/* */
body{
    background-color: black;
}

header{
    height: var(--header_height);
}

main{
    display: flex;
    justify-content: center;
}

button, input{
    color: black
}

form{
    display: flex;
    flex-direction: column;

    background-color: var(--forms_back_color);

    border: 5px solid var(--forms_back_color);
    border-radius: 10px;

    width: 300px;

    padding: 30px;

}

input{
    padding: 5px  10px  5px  10px;
    border: 2px solid black;
    border-radius: 10px;
    
    width: var(--input_width);
}

label{
    color: var(--label_text_color);
    padding: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.user_auth > a{
    padding: 15px 10px 10px 10px;

    background-color: gray;
    color: white;
}

.user{
    background-color: gray;
    color: white;

    padding: 15px 10px 10px 10px;
    height: 50px;
}

.talktalk_logo{
    transition: rotate 1.5s;

    rotate: 0deg;
}

.talktalk_logo:hover{
    rotate: 180deg;
}
