{% extends "default/layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for("static", filename="style/index.css") }}">

<script src="https://cdn.socket.io/4.8.1/socket.io.min.js" defer></script>
<script src="{{ url_for("static", filename="js/index.js") }}" defer></script>

<!-- -->
<div id="rooms">
    <a href="{{ url_for("main.room_create") }}">create room</a>
    <ul id="rooms_able"></ul>
</div>

<div id="chat">
    <form id="chat_forms">
        <input type="text" autocomplete="off" placeholder="Do the world a better place" id="chat_input">
        <button type="submit" style="display:none"></button>
    </form>

    <div id="chat_message"></div>
</div>


{% endblock %}
