{% extends "default/layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for("main.login_auth") }}">
    <label>User name:</label>
    <input type="text" autocomplete="off" name="user_name" required>

    <label>User email:</label>
    <input type="email" autocomplete="off" name="user_email" required>

    <label>User password:</label>
    <input type="text" autocomplete="off" name="user_password" required>

    <button type='submit' style='display: none'></button>
</form>
{% endblock %}
